<div onclick="location.href='/';" style="cursor:pointer;" >
  <div class="jumbotron">
    <h1 class="display-4">Eau Claire's Salon</h1>
    <p class="lead">Hair Like Everywhere!</p>
  </div>
  <div class="header-jumbotron"></div>
</div>