.jumbotron {
  margin: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: rgb(198, 155, 122);
  text-align: center;
}

.jumbotron h1 {
  font-weight:700;
  color: white;
}

.jumbotron p {
  font-weight: 700;
  color: white;
}

.header-jumbotron {
  background: url("https://images.squarespace-cdn.com/content/v1/587fcd183e00be6f0d1efc30/1558464418002-PRT8LF3DAIZBW45IG9Z5/salon-image-2.JPG?format=2500w");
  background-position: 0 -100px;
  background-size: cover;
  height: 20vh;
}